
<h1>호텔 목록 리스트</h1>
<hr />

  <div class="album py-5 bg-light">
    <div class="container">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <table>
              <tr>
               <td><img  src="../assets/image1/경포 비치 관광 호텔1.jpg" width="218" height="218" class="" alt="..."></td>
               <td><img  src="../assets/image1/경포 비치 관광 호텔2.jpg" width="218" height="218" class="" alt="..."></td>
               <td><img  src="../assets/image1/경포 비치 관광 호텔3.jpg" width="218" height="218" class="" alt="..."></td>
               <td><img  src="../assets/image1/경포 비치 관광 호텔4.jpg" width="218" height="218" class="" alt="..."></td>
               <td><img  src="../assets/image1/경포 비치 관광 호텔5.jpg" width="218" height="218" class="" alt="..."></td>
               <td><img  src="../assets/image1/경포 비치 관광 호텔6.jpg" width="218" height="218" class="" alt="..."></td>
            </tr>
          </table>
          </div>
        </div>  
    </div>
</div>
</div>

