
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
     <a  class="btn btn-primary" routerLink="/"  aria-current="page">호텔 4조 프로젝트</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <form class="d-flex" >
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button routerLink="/list" class="btn btn-outline-success" type="submit">Search</button>&nbsp;&nbsp;
    </form>
  </div>
</nav>
<h1>호텔목록</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="../assets/image1/경포 비치 관광 호텔1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">경포대 호텔1 </p>
        <a  class="btn btn-primary" routerLink="/list/get"  aria-current="page">보러가기</a>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../assets/image1/경포 비치 관광 호텔2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">경포대 호텔2 </p>
        <a  class="btn btn-primary" routerLink="/list/get"  aria-current="page">보러가기</a>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../assets/image1/경포 비치 관광 호텔3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">경포대 호텔3 </p>
        <a  class="btn btn-primary" routerLink="/list/get"  aria-current="page">보러가기</a>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
<div class="align">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
<footer class="bg-dark mt-4 p-5 text-center" style="color:#FFFFFF;">
  Copyright &copy; 2021 Hotle Service
</footer>


