<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
     <a  class="btn btn-primary" routerLink="/"  aria-current="page">호텔 4조 프로젝트</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <app-search></app-search>
    </div>
    
</nav>


<div class="wrapper">
  <section class="heading">
    <h1>{{ hotelAddress.hotelname }}</h1>
    <p>{{hotel.summary}}...</p>
  </section>
  <section class="image">
    <div class="image-box image-box-a">
      <img [src]="imgArray[0]" alt="이미지가 없습니다">
    </div>
    <div class="image-box image-box-b">
      <img [src]="imgArray[1]" alt="이미지가 없습니다">
    </div>
    <div class="image-box image-box-c">
      <img [src]="imgArray[2]" alt="이미지가 없습니다">
    </div>
  </section>
  <section class="core-info">
    <div class="core-info-a"><span>주소: {{hotelAddress.address}}</span></div>
    <div class="core-info-b"><a [href]="'tel:' + hotel.phone">전화번호: {{ hotel.phone }}</a></div>
    <div class="core-info-c" [innerHtml]="hotelLink"></div>
    <div class="check-time">
      <div class="core-info-d"><span>체크인 시간: {{ hotel.checkin }}</span></div>
      <div class="core-info-e"><span>체크아웃 시간: {{ hotel.checkout }}</span></div>
    </div>
    <div class="avg-rating">
      <div class="rating-stats core-info-f">
        <label class="rating-label">방문자 평점: {{ hotelAddress.score }}/5</label>
      </div>
      <div class="rating-stats core-info-g">
        <input class="rating" max="5" aria-readonly onmousedown="return false;" step="0.01" [style]="'--value:' + score" type="range" [value]="score">
      </div>
    </div>
  </section>
  
  <section class="facilities">
    <h1>편의시설</h1>
    <div class="check-boxes-grid">
      <div><input class="facility-checkbox" type="checkbox" aria-readonly="true" [checked]="hotel.bbq.toLowerCase()==='true'" onclick="return false;"><label for="bbq">BBQ장</label></div>
      <div><input class="facility-checkbox" type="checkbox" aria-readonly="true" [checked]="hotel.beauty.toLowerCase()==='true'" onclick="return false;"><label for="beauty">미용관리샵</label></div>
      <div><input class="facility-checkbox" type="checkbox" aria-readonly="true" [checked]="hotel.bicycle.toLowerCase()==='true'" onclick="return false;"><label for="bicycle">자전거대여</label></div>
      <div><input class="facility-checkbox" type="checkbox" aria-readonly="true" [checked]="hotel.fitness.toLowerCase()==='true'" onclick="return false;"><label for="fitness">피트니스</label></div>
      <div><input class="facility-checkbox" type="checkbox" aria-readonly="true" [checked]="hotel.karaoke.toLowerCase()==='true'" onclick="return false;"><label for="karaoke">노래방</label></div>
      <div><input class="facility-checkbox" type="checkbox" aria-readonly="true" [checked]="hotel.publicpc.toLowerCase()==='true'" onclick="return false;"><label for="publicpc">공용PC</label></div>
      <div><input class="facility-checkbox" type="checkbox" aria-readonly="true" [checked]="hotel.publicshower.toLowerCase()==='true'" onclick="return false;"><label for="publicshower">공용샤워장</label></div>
      <div><input class="facility-checkbox" type="checkbox" aria-readonly="true" [checked]="hotel.sauna.toLowerCase()==='true'" onclick="return false;"><label for="sauna">사우나</label></div>
      <div><input class="facility-checkbox" type="checkbox" aria-readonly="true" [checked]="hotel.seminar.toLowerCase()==='true'" onclick="return false;"><label for="seminar">세미나실</label></div>
      <div><input class="facility-checkbox" type="checkbox" aria-readonly="true" [checked]="hotel.sports.toLowerCase()==='true'" onclick="return false;"><label for="sports">스포츠시설</label></div>
    </div>
  </section>
  <section class="room-info">
    <h1>방 종류</h1>
    <div class="room-grid">
      <div class="room-div" *ngFor="let room of roomArray; let i=index">
        <h2>Room {{i+1}}: {{ room.roomname }}</h2>
        <pre>{{ room.info }}</pre>
      </div>
    </div>
  </section>
</div>








    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목 입력 하세요">
      </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="내용 입력 하세요" rows="3"></textarea>
      </div>
      <a  class="btn btn-primary" routerLink="/review"  aria-current="page">클릭</a>
 
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <form name="myform" id="myform" method="post" action="./save">
            <fieldset>
                <legend>호텔 리뷰 및 평점 주기</legend>
                <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
            </fieldset>
        </form>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
    
      
       