<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
     <a  class="btn btn-primary" routerLink="/"  aria-current="page">호텔 4조 프로젝트</a>&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</nav>
 <div class="row align-items-md-stretch">
    <div class="col-md-6">
        <img src="../assets/imge/asdad.png" class="" alt="...">
        <h2>침실</h2>
        <p>2인 전용 스위트룸</p>
        
      </div>
    </div>
    <div class="col-md-6">
        <img src="../assets/imge/e-1-1024x576.jpg" class="" alt="...">
          <h2>시설 이용</h2>
          <p>각종 시설이용</p>
        </div>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">시설이용 종류 </h1>
          <p class="col-md-8 fs-4">바베큐 , 어린이수영장 , 수영장 , 포켓볼 , 근린공원  </p>
        </div>
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목 입력 하세요">
      </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="내용 입력 하세요" rows="3"></textarea>
      </div>
      <a  class="btn btn-primary" routerLink="/review"  aria-current="page">클릭</a>
 
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <form name="myform" id="myform" method="post" action="./save">
            <fieldset>
                <legend>호텔 리뷰 및 평점 주기</legend>
                <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
            </fieldset>
        </form>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
       