<<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
       <a  class="btn btn-primary" routerLink="/"  aria-current="page">호텔 4조 프로젝트</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </nav>
<h1>로그인페이지</h1>
<form  method="post" class="form-floating">
    <div class="form-floating"style="width: 30%; float: none; margin: 0 auto">
        <input type="text" class="form-control" name="id"> <label>아이디
            입력</label>
    </div>
    <br />
    <div class="form-floating" style="width: 30%; float: none; margin: 0 auto">
        <input type="password" class="form-control" name="password">
        <label>비밀번호 입력</label>
    </div>
    <div style="width: 30%; float: none; margin: 0 auto">
        <button class="w-100 btn btn-lg btn-primary" type="submit">로그인 하기</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
        </div>
    <footer class="bg-dark mt-4 p-5 text-center" style="color:#FFFFFF;">
        Copyright &copy; 2021 Hotle Service
    </footer>

