
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
       <a  class="btn btn-primary" routerLink="/"  aria-current="page">호텔 4조 프로젝트</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </nav>
<h1>회원가입 페이지</h1>
<form class="form-floating" (ngSubmit)="registerUser(registerForm)" #registerForm="ngForm">
    <div class="form-floating"style="width: 30%; float: none; margin: 0 auto">
        <input
        type="text"
        class="form-control"
        ngModel
        name="username"
        required
        minlength="8"
        pattern="[A-Za-z0-9,.-_=+\\|/?<>~`!@#$%^&*()]+"
        #username="ngModel"
        > <label>아이디 입력</label>
        <ul>
            <li class="help-block" *ngIf="!username.valid && username.touched">유효하지 않은 아이디입니다.</li>
            <li class="help-block" *ngIf="username.errors?.required && username.touched">아이디는 필수 입력사항입니다.</li>
            <li class="help-block" *ngIf="username.errors?.minlength && username.touched">아이디는 반드시 8자 이상입니다.</li>
            <li class="help-block" *ngIf="username.errors?.pattern && username.touched">아이디에는 한글, 한자, 공백등이 들어갈수 없습니다.</li>
            <li class="help-block" *ngIf="username.errors?.pattern && username.touched">영어 대/소문자, 숫자, 키보드 상의 특수문자로만 입력하세요.</li>
        </ul>
    </div>
    <br />
    <div class="form-floating" style="width: 30%; float: none; margin: 0 auto">
        <input type="password" class="form-control"
        ngModel
        name="password"
        required
        minlength="8"
        #password="ngModel"
        >
        <label>비밀번호 입력</label>
        <ul>
            <li class="help-block" *ngIf="!password.valid && password.touched">유효하지 않은 비밀번호입니다.</li>
            <li class="help-block" *ngIf="password.errors?.required && password.touched">비밀번호는 필수 입력사항입니다.</li>
            <li class="help-block" *ngIf="password.errors?.minlength && password.touched">비밀번호는 8자 이상입니다.</li>
        </ul>
    </div>
    
    <div style="width: 30%; float: none; margin: 0 auto">
    <button class="w-100 btn btn-lg btn-primary" type="submit"
    [disabled]="!registerForm.valid"
    >회원가입하기</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </div>
</form>

<footer class="bg-dark mt-4 p-5 text-center" style="color:#FFFFFF;">
    Copyright &copy; 2021 All Rights Reserved.
</footer>
