<h1>회원가입 페이지</h1>
<form  method="post" class="form-floating">
    <div class="form-floating"style="width: 30%; float: none; margin: 0 auto">
        <input type="text" class="form-control" name="id"> <label>아이디
            입력</label>
    </div>
    <br />
    <div class="form-floating" style="width: 30%; float: none; margin: 0 auto">
        <input type="password" class="form-control" name="password">
        <label>비밀번호 입력</label>
    </div>
    <br />
    <div class="form-floating" style="width: 30%; float: none; margin: 0 auto">
        <input type="text" class="form-control" name="name"> <label>이름</label>
    </div>
    <br />
    <div class="form-floating" style="width: 30%; float: none; margin: 0 auto">
        <input type="text" class="form-control" name="email"> <label>이메일
            입력</label>
    </div>
    <br />
    <div style="width: 30%; float: none; margin: 0 auto">
    <button class="w-100 btn btn-lg btn-primary" type="submit">회원가입하기</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </div>
</form>

<footer class="bg-dark mt-4 p-5 text-center" style="color:#FFFFFF;">
    Copyright &copy; 2021 All Rights Reserved.
</footer>
