<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
       <a  class="btn btn-primary" routerLink="/"  aria-current="page">호텔 4조 프로젝트</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <form class="d-flex" >
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button routerLink="/list" class="btn btn-outline-success" type="submit">Search</button>&nbsp;&nbsp;
      </form>
      <button class="navbar-toggler me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              메뉴
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a routerLink="/log" class="dropdown-item"routerLinkActive="active">로그인</a></li>
              <li><a class="dropdown-item">로그아웃</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="/jo" class="dropdown-item" >회원가입</a></li>
              <li><a routerLink="/my"class="dropdown-item">마이페이지</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image1/경포 비치 관광 호텔1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">경포대 호텔1 </p>
          <a  class="btn btn-primary" routerLink="/list/get"  aria-current="page">보러가기</a>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image1/경포 비치 관광 호텔2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">경포대 호텔2 </p>
          <a  class="btn btn-primary" routerLink="/list/get"  aria-current="page">보러가기</a>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image1/경포 비치 관광 호텔3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">경포대 호텔3 </p>
          <a  class="btn btn-primary" routerLink="/list/get"  aria-current="page">보러가기</a>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
  
